In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,3,5, np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates=pd.date_range("20130101",periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.114700 -0.547421  0.735215 -0.478132
2013-01-02 -0.002752 -0.092712  1.510773  0.960922
2013-01-03 -0.440524  0.640225 -0.216811  0.514197
2013-01-04  0.062692 -1.387155  0.574625 -0.255069
2013-01-05 -0.374615 -0.782111 -0.658758 -2.108590
2013-01-06 -2.203269 -1.247519 -0.593938  1.083095

In [5]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
df.to_numpy()

array([[ 0.11469965, -0.54742105,  0.73521478, -0.47813192],
       [-0.00275194, -0.09271201,  1.51077344,  0.96092156],
       [-0.44052382,  0.64022547, -0.21681138,  0.51419672],
       [ 0.0626924 , -1.38715499,  0.57462486, -0.25506943],
       [-0.37461485, -0.78211149, -0.65875846, -2.1085896 ],
       [-2.20326906, -1.24751938, -0.59393776,  1.08309538]])

In [7]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.473961 -0.569449  0.225184 -0.047263
std    0.878413  0.756931  0.858214  1.190570
min   -2.203269 -1.387155 -0.658758 -2.108590
25%   -0.424047 -1.131167 -0.499656 -0.422366
50%   -0.188683 -0.664766  0.178907  0.129564
75%    0.046331 -0.206389  0.695067  0.849240
max    0.114700  0.640225  1.510773  1.083095

In [8]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.114700   -0.002752   -0.440524    0.062692   -0.374615   -2.203269
B   -0.547421   -0.092712    0.640225   -1.387155   -0.782111   -1.247519
C    0.735215    1.510773   -0.216811    0.574625   -0.658758   -0.593938
D   -0.478132    0.960922    0.514197   -0.255069   -2.108590    1.083095

In [9]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01 -0.478132  0.735215 -0.547421  0.114700
2013-01-02  0.960922  1.510773 -0.092712 -0.002752
2013-01-03  0.514197 -0.216811  0.640225 -0.440524
2013-01-04 -0.255069  0.574625 -1.387155  0.062692
2013-01-05 -2.108590 -0.658758 -0.782111 -0.374615
2013-01-06  1.083095 -0.593938 -1.247519 -2.203269

In [10]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-04  0.062692 -1.387155  0.574625 -0.255069
2013-01-06 -2.203269 -1.247519 -0.593938  1.083095
2013-01-05 -0.374615 -0.782111 -0.658758 -2.108590
2013-01-01  0.114700 -0.547421  0.735215 -0.478132
2013-01-02 -0.002752 -0.092712  1.510773  0.960922
2013-01-03 -0.440524  0.640225 -0.216811  0.514197

In [11]:
df.loc[dates[0]]

A    0.114700
B   -0.547421
C    0.735215
D   -0.478132
Name: 2013-01-01 00:00:00, dtype: float64

In [12]:
df.loc[:,["A","B"]]

                   A         B
2013-01-01  0.114700 -0.547421
2013-01-02 -0.002752 -0.092712
2013-01-03 -0.440524  0.640225
2013-01-04  0.062692 -1.387155
2013-01-05 -0.374615 -0.782111
2013-01-06 -2.203269 -1.247519

In [18]:
df.loc["20130102":"20130103",["A","B"]]

AttributeError: 'NoneType' object has no attribute 'loc'

# Title : Groupby

In [19]:
df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
#df.reset_index(inplace=True)

AttributeError: 'NoneType' object has no attribute 'groupby'