In [8]:
import pandas as pd
import pyodbc

sql_conn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=SQLSERVER2017;DATABASE=Test;Trusted_Connection=yes') 
query = "Select * from nba"
df = pd.read_sql(query, sql_conn)

df.head(3)

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

In [33]:
import pandas as pd
data=pd.read_excel("E:/Data Science with Python/Learn/nba_excel.xlsx",index_col="Name")

In [34]:
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2022-06-02,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,2022-06-06,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,2022-06-05,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,2022-06-05,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,2022-06-10,231,NaN,5000000.0

In [35]:
df=pd.DataFrame(data)

In [36]:
df

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2022-06-02,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,2022-06-06,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,2022-06-05,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,2022-06-05,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,2022-06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41,PF,20,2022-06-10,234,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8,PG,26,2022-06-03,203,Butler,2433333.0
Raul Neto,Utah Jazz,25,PG,24,2022-06-01,179,NaN,900000.0
Tibor Pleiss,Utah Jazz,21,C,26,2022-07-03,256,NaN,2900000.0
Jeff Withey,Utah Jazz,24,C,26,2000-07-01,231,Kansas,947276.0

In [37]:
data

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2022-06-02,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,2022-06-06,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,2022-06-05,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,2022-06-05,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,2022-06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41,PF,20,2022-06-10,234,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8,PG,26,2022-06-03,203,Butler,2433333.0
Raul Neto,Utah Jazz,25,PG,24,2022-06-01,179,NaN,900000.0
Tibor Pleiss,Utah Jazz,21,C,26,2022-07-03,256,NaN,2900000.0
Jeff Withey,Utah Jazz,24,C,26,2000-07-01,231,Kansas,947276.0