In [3]:
a=['apple','mango','orange']
print(a)

['apple', 'mango', 'orange']

In [4]:
a=['apple','mango','orange']
temp=[]

for x in a:
    temp.append(x)

In [5]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,3,4],'b':[5,6,7,8],'c':['mango','mango','graphes','apple']},index=[1,2,3,4])
df

   a  b        c
1  1  5    mango
2  2  6    mango
3  3  7  graphes
4  4  8    apple

In [6]:
df.reset_index(drop=True)

   a  b        c
0  1  5    mango
1  2  6    mango
2  3  7  graphes
3  4  8    apple

In [7]:
#df2=df.groupby("c").aggregate({"a":['count','sum']})
df2=df.groupby("c").aggregate({"a":['count'],"b":['sum']})
#df2.rename(columns={'count':'no of count','sum': 'total'},inplace=True)

In [8]:
#df2.columns=df2.columns.droplevel(0)

In [9]:
df2.columns=df2.columns.get_level_values(0)
df2

         a   b
c
apple    1   8
graphes  1   7
mango    2  11

In [1]:
import pandas as pd
 
# Creating an array of names
arrays = ['Sohom','Suresh','kumkum','subrata']
 
# Creating an array of ages
age= [10, 11, 12, 13]
 
# Creating an array of marks
marks=[90,92,23,64]

df=pd.MultiIndex.from_arrays([arrays,age,marks], names=('names', 'age','marks')).to_frame()

In [2]:
df.columns

Index(['names', 'age', 'marks'], dtype='object')

In [12]:
df

                     names  age  marks
names   age marks
Sohom   10  90       Sohom   10     90
Suresh  11  92      Suresh   11     92
kumkum  12  23      kumkum   12     23
subrata 13  64     subrata   13     64

In [3]:
df.index

MultiIndex([(  'Sohom', 10, 90),
            ( 'Suresh', 11, 92),
            ( 'kumkum', 12, 23),
            ('subrata', 13, 64)],
           names=['names', 'age', 'marks'])

In [4]:
b=[90,92,23,64]

x=return lambda a,b:

print(x(1,2))

SyntaxError: invalid syntax (3058214060.py, line 3)

In [ ]:
# numbers = 'one', 'two', 'three'
# funcs = []
# for n in numbers:
#     funcs.append(lambda n=n: print(n))

for f in funcs:
    f()

In [ ]:
b=[90,92,23,64]

temp=[]

print("\n".join(str(i) for i in b))

In [ ]:
temp

In [ ]:
a1="hello"
a2="world"
print(a2.join(a1))

In [ ]:
for i in "hello":
    print(list[i])

In [ ]:
def hello(a,b):
    print("Hello world",a+b)
    return a*b

hello(1,4)

print(hello(5,5))

In [ ]:
try:
    def my_function(*kids):
      print("The youngest child is " + kids[2])
except:    
    print("An exception occurred")
finally:    
    print("An exception occurred2")
    
my_function("Emil", "Tobias","Sanjay")

In [ ]:
x="some kind of a useless lambda"
(lambda x : print(x))(x)

In [ ]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

In [ ]:

# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x , seq)
print(list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

In [5]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
print(list(adults))

[18, 24, 32]

In [ ]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x)
print(list(x))

In [16]:
import pandas as pd
df=pd.read_excel('E:/Data Science with Python/Fraud alert/test2_bkp.xlsx',index_col=None)

In [17]:
#df['player_id']=df['player_id'].astype(float)
#df = df.astype({"player_id":'int', "session_id":'int'})

In [18]:
df.columns

Index(['player_id', 'sess_start_time', 'sess_end_time', 'session_id',
       'no_of_card', 'game_type', 'game_type_id', 'No_of_Players',
       'Actual_No_of_Players', 'Game_group_type', 'Point_value', 'Buy_in',
       'Wager', 'Winning', 'Rake', 'shuffle_id', 'Plr1+Plr2', 'Card dropped',
       'Plr2+Plr1', 'Card picked', 'city', 'postal_code', 'photo_id_type',
       'registration_date', 'registration_ip', 'device_fingerprint', 'status',
       'last_login_ip', 'last_login_through', 'reg_device', 'IP Count',
       'Device Count', 'campaign_name', 'utm_campaign', 'Source', 'mapped_id',
       'Affiliate_KPI', 'Filter'],
      dtype='object')

In [19]:
df_set1=df[['player_id','session_id','city','postal_code','registration_ip','device_fingerprint']]
df_set1=df_set1[df_set1['session_id'].isin([111717167,111717347])]
df_set1.reset_index(drop=True,inplace=True)

In [20]:
df_set1_unqiue=df_set1.groupby('session_id')['player_id'].nunique()

In [21]:
df_set1_unqiue=df_set1_unqiue.to_frame()

In [22]:
df_set1_unqiue

             player_id
session_id
111717167.0          2
111717347.0          2

In [23]:
df_set1

,player_id,session_id,city,postal_code,registration_ip,device_fingerprint
0,270828.0,111717167.0,NaN,NaN,203.122.33.178,220.227.201.110::null::null
1,643747.0,111717167.0,NaN,NaN,157.49.10.150,NaN
2,270662.0,111717347.0,NaN,NaN,182.156.72.78,220.227.203.4::null::null
3,270662.0,111717347.0,NaN,NaN,182.156.72.78,220.227.203.4::null::null
4,270662.0,111717347.0,NaN,NaN,182.156.72.78,220.227.203.4::null::null
5,270662.0,111717347.0,NaN,NaN,182.156.72.78,220.227.203.4::null::null
6,6227687.0,111717347.0,moochikkal,673642.0,157.44.187.239,157.44.187.239::null::null
7,6227687.0,111717347.0,moochikkal,673642.0,157.44.187.239,157.44.187.239::null::null
8,6227687.0,111717347.0,moochikkal,673642.0,157.44.187.239,157.44.187.239::null::null
9,6227687.0,111717347.0,moochikkal,673642.0,157.44.187.239,157.44.187.239::null::null

In [24]:
# temp=[]

#     temp.append(i)
#     #print(i)
j=1
#len(df_set1.index)
row1=iter(df_set1['session_id'])

get_len=3000

    
for i  in df_set1.index:
    
    #for i  in range(get_len):    

        #details=next(row1)    
    if df_set1.loc[i,'session_id']==df_set1.loc[i,'session_id']:

        #print(i,"-",df_set1.loc[i,'session_id'],i,"-",details,"Duplicate found")
        print(i,"-",df_set1.loc[i,'session_id'],df_set1.loc[i,'player_id'],"-",i,df_set1.loc[j,'session_id'],df_set1.loc[i,'player_id'],"Duplicate found")
        #print('found')
    else:
        print('not found')
            # temp.append(i)
            # temp.append(i+1)
j+=1

0 - 111717167.0 270828.0 - 0 111717167.0 270828.0 Duplicate found
1 - 111717167.0 643747.0 - 1 111717167.0 643747.0 Duplicate found
2 - 111717347.0 270662.0 - 2 111717167.0 270662.0 Duplicate found
3 - 111717347.0 270662.0 - 3 111717167.0 270662.0 Duplicate found
4 - 111717347.0 270662.0 - 4 111717167.0 270662.0 Duplicate found
5 - 111717347.0 270662.0 - 5 111717167.0 270662.0 Duplicate found
6 - 111717347.0 6227687.0 - 6 111717167.0 6227687.0 Duplicate found
7 - 111717347.0 6227687.0 - 7 111717167.0 6227687.0 Duplicate found
8 - 111717347.0 6227687.0 - 8 111717167.0 6227687.0 Duplicate found
9 - 111717347.0 6227687.0 - 9 111717167.0 6227687.0 Duplicate found

In [ ]:
#temp.clear()
if len(temp):
    print('not empty')
else:
    print('empty')

In [56]:
for index, row in df_set1.iterrows():
    print(index,row['player_id'],row['player_id'])

0 270828.0 270828.0
1 643747.0 643747.0
2 270662.0 270662.0
3 270662.0 270662.0
4 270662.0 270662.0
5 270662.0 270662.0
6 6227687.0 6227687.0
7 6227687.0 6227687.0
8 6227687.0 6227687.0
9 6227687.0 6227687.0

In [58]:
df_set1

for i in df_set1.index:
    for j in df_set1.index:
        
        if i!=j:
            #print(i,j)
            #print(df_set1.loc[i,'session_id'],df_set1.loc[j,'session_id'])
            pass

In [45]:
df_set1.loc[2]['session_id']

111717347.0

In [80]:
df_set1.values
#list(get_list)

array([[270828.0, 111717167.0, nan, nan, '203.122.33.178',
        '220.227.201.110::null::null'],
       [643747.0, 111717167.0, nan, nan, '157.49.10.150', nan],
       [270662.0, 111717347.0, nan, nan, '182.156.72.78',
        '220.227.203.4::null::null'],
       [270662.0, 111717347.0, nan, nan, '182.156.72.78',
        '220.227.203.4::null::null'],
       [270662.0, 111717347.0, nan, nan, '182.156.72.78',
        '220.227.203.4::null::null'],
       [270662.0, 111717347.0, nan, nan, '182.156.72.78',
        '220.227.203.4::null::null'],
       [6227687.0, 111717347.0, 'moochikkal', 673642.0, '157.44.187.239',
        '157.44.187.239::null::null'],
       [6227687.0, 111717347.0, 'moochikkal', 673642.0, '157.44.187.239',
        '157.44.187.239::null::null'],
       [6227687.0, 111717347.0, 'moochikkal', 673642.0, '157.44.187.239',
        '157.44.187.239::null::null'],
       [6227687.0, 111717347.0, 'moochikkal', 673642.0, '157.44.187.239',
        '157.44.187.239::null::null']], dtype=object)

In [81]:
df_set1.memory_usage()

Index                 128
player_id              80
session_id             80
city                   80
postal_code            80
registration_ip        80
device_fingerprint     80
dtype: int64

In [9]:
import pandas as pd
a=[[123,1,'Sell'],[124,2,'Sell'],[125,1,'Buy'],[126,1,'Buy']]
b=pd.DataFrame(a,columns=['Sum','Count','id'])
b

   Sum  Count    id
0  123      1  Sell
1  124      2  Sell
2  125      1   Buy
3  126      1   Buy

In [17]:
c=b.groupby('id').value_counts()

In [16]:
c.reset_index(drop=True)

0    1
1    1
2    1
3    1
dtype: int64

In [181]:

#df['Player_id'].unique().tolist()

In [10]:
import pandas as pd
Login_df=pd.read_excel('E:/Data Science with Python/Fraud alert/Login_IP_N_City_Check.xlsx')

Session_df=pd.read_excel('E:/Data Science with Python/Fraud alert/Session.xlsx')


Login_IP_dic={'Session_id':[],'Login_IP':[]}
Login_City_dic={'Session_id':[],'Login_City':[]}


Session_df['IP_Matched']=''
Session_df['City_Matched']=''

global temp1
global temp2

temp1=pd.DataFrame()
temp2=pd.DataFrame()


global Log_IP

def Login_IP_City(Helper,Winner,Session):
    print('Helper ID ',Helper,'Winner ID ',Winner,'Session ID ',Session)



    temp1=Login_df[Login_df['Player_id']==Helper].drop_duplicates().reset_index(drop=True)
    temp2=Login_df[Login_df['Player_id']==Winner].drop_duplicates().reset_index(drop=True)
    
    for i in range(len(temp1)):
        for j in range(len(temp2)):
            if temp1.loc[i]['Login_IP']==temp2.loc[j]['Login_IP']:
                Login_IP_dic['Session_id'].append(Session)
                Login_IP_dic['Login_IP'].append(temp1.loc[i]['Login_IP'])
                
            else:
                pass
            
            if (temp1.loc[i]['Login_City']!='Unknown' and temp1.loc[i]['Login_City']!='NA'):
                
                if temp1.loc[i]['Login_City']==temp2.loc[j]['Login_City']:
                    Login_City_dic['Session_id'].append(Session)
                    Login_City_dic['Login_City'].append(temp1.loc[i]['Login_City'])
                else:
                    pass
                
    
        

for i in range(len(Session_df)):
    Login_IP_City(Session_df.loc[i]['Helper'],Session_df.loc[i]['Winner'],Session_df.loc[i]['Session_ID'])

Helper ID  123451 Winner ID  123452 Session ID  1011012
Helper ID  123453 Winner ID  123454 Session ID  1011013

In [11]:

Login_IP_dic_df=pd.DataFrame(Login_IP_dic)
Login_IP_dic_df=Login_IP_dic_df.groupby('Session_id')['Login_IP'].apply(list)
Login_IP_dic_df=Login_IP_dic_df.to_frame().reset_index()

In [12]:
Login_IP_dic_df

   Session_id                                 Login_IP
0     1011012  [162.198.0.1, 162.198.0.2, 162.198.0.2]
1     1011013                            [162.198.0.3]

In [13]:

Login_City_dic_df=pd.DataFrame(Login_City_dic)
Login_City_dic_df=Login_City_dic_df.groupby('Session_id')['Login_City'].apply(list)
Login_City_dic_df=Login_City_dic_df.to_frame().reset_index()

In [7]:
Login_City_dic_df

   Session_id                        Login_City
0     1011012  [Mumbai Central, Mumbai, Mumbai]
1     1011013                         [Bhandup]

In [40]:
import pandas as pd
import numpy as np

In [41]:

Sess_Helper_Winner.columns
#Sess_Helper_Winner=('E:/Data Science with Python/Fraud alert/Sess_Helper_Winner_df.xlsx')

Index(['Unnamed: 0', 'session_id', 'Winner', 'Winning', 'Helper',
       'Winner_User', 'Helper_User', 'Wrong_Show', 'Table_Left', 'Dropped',
       'Withdrawal_Request', 'Winner_KYC', 'Helper_KYC', 'Remarks',
       'Login_IP_Status', 'Login_IP', 'Helper_domain', 'Winner_domain', 'city',
       'postal_code', 'device_fingerprint', 'registration_ip', 'game_type',
       'Game_name', 'No_of_Players', 'sess_start_time', 'sess_end_time',
       'room_id', 'Winner_Email_ID', 'Winner_Mobile_ID', 'Helper_Email_ID',
       'Helper_Mobile_ID', 'Risk_Score', 'Fraud_Status'],
      dtype='object')

In [69]:
import pandas as pd
Sess_Helper_Winner=pd.read_excel('E:/Data Science with Python/Fraud alert/Sess_Helper_Winner_df.xlsx')
global Score

gm_2_plr=10
Mini=30

# Wrong_Show_2_Plr_Mini = 30
# Wrong_Show_2_Plr = 30
# Wrong_Show_Mini = 30
Wrong_Show = 30

Table_Left = 30
# Table_Left_Mini = 10
# Table_Left_2_Plr = 50
# Table_Left_2_Plr_Mini = 60

Dropped = 15
# Dropped_2_Plr = 5
# Dropped_Mini = 20
# Dropped_2_Plr_Mini = 30

# Card_Passing_2_Plr_Mini = 40
# Card_Passing_Mini = 30
# Card_Passing_2_Plr = 20
Card_Passing = 20

Login_IP_Status = 40
Login_IP_Status_Cnt = 60

Media_Source_Status = 30
City = 20
postal_code = 40
device_fingerprint = 60

registration_ip_Decimal_2 = 10
registration_ip_Decimal_3 = 20
registration_ip_Decimal_4 = 30

Refer_a_friends = 40


if 'Risk_Score' in Sess_Helper_Winner:
    Sess_Helper_Winner.drop(columns={'Risk_Score'},inplace=True)
else:
    Sess_Helper_Winner['Risk_Score']=''

if 'Fraud_Status' in Sess_Helper_Winner:
    Sess_Helper_Winner.drop(columns={'Fraud_Status'},inplace=True)
else:
    Sess_Helper_Winner['Fraud_Status']=''

    
Sess_Helper_Winner['Login IP Count']=''    

for i in range(len(Sess_Helper_Winner)):
    Score=0
#     if Sess_Helper_Winner.loc[i]['Wrong_Show']==1 and Sess_Helper_Winner.loc[i]['No_of_Players']==2:
#         Score1=Score+Wrong_Show_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score1
#     elif Sess_Helper_Winner.loc[i]['Wrong_Show']==1:
#         Score1=Score+Wrong_Show
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score1
#     else:
#         Score1=Score
    
#     if Sess_Helper_Winner.loc[i]['Table_Left']==1 and Sess_Helper_Winner.loc[i]['No_of_Players']==2:
#         Score2=Score1+Table_Left_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score2
#     elif Sess_Helper_Winner.loc[i]['Table_Left']==1:
#         Score2=Score1+Table_Left_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score2
#     else:
#         Score2=Score1
    
#     if Sess_Helper_Winner.loc[i]['Dropped']==1 :
#         Score3=Score2+Dropped
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score3
#     else:
#         Score3=Score2
        
        
#     if Sess_Helper_Winner.loc[i]['Remarks']=='Card Passing' and Sess_Helper_Winner.loc[i]['No_of_Players']==2:
#         Score4=Score3+Card_Passing_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score4
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Card Passing' and Sess_Helper_Winner.loc[i]['No_of_Players']==2 and (Sess_Helper_Winner.loc[i]['Winner_KYC']=='MINI' or Sess_Helper_Winner.loc[i]['Helper_KYC']=='MINI'):
#         Score4=Score3+Card_Passing_2_Plr_Mini
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score4
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Card Passing':
#         Score4=Score3+Card_Passing_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score4
#     else:
#         Score4=Score3
    
    
#     if Sess_Helper_Winner.loc[i]['Remarks']=='Table_Left' and Sess_Helper_Winner.loc[i]['No_of_Players']==2:
#         Score5=Score4+Table_Left_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score5
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Table_Left' and Sess_Helper_Winner.loc[i]['Helper_KYC']=='MINI' and Sess_Helper_Winner.loc[i]['No_of_Players']==2:
#         Score5=Score4+Table_Left_2_Plr_Mini
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score5
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Table_Left' and Sess_Helper_Winner.loc[i]['Helper_KYC']=='MINI':
#         Score5=Score4+Table_Left_2_Plr_Mini
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score5
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Table_Left':
#         Score5=Score4+Table_Mini
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score5
#     else:
#         Score5=Score4
        
#     if Sess_Helper_Winner.loc[i]['Remarks']=='Wrong Show'  and Sess_Helper_Winner.loc[i]['No_of_Players']==2:
#         Score6=Score5+Wrong_Show_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score6
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Wrong Show':
#         Score6=Score5+Wrong_Show_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score6
#     else:
#         Score6=Score5
    
#     if Sess_Helper_Winner.loc[i]['Remarks']=='Dropped' and Sess_Helper_Winner.loc[i]['Helper_KYC']=='MINI' and Sess_Helper_Winner.loc[i]['No_of_Players']==2 :
#         Score7=Score6+Dropped_2_Plr_Mini
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score7
#     if Sess_Helper_Winner.loc[i]['Remarks']=='Dropped' and Sess_Helper_Winner.loc[i]['No_of_Players']==2 :
#         Score7=Score6+Dropped_2_Plr
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score7
#     elif Sess_Helper_Winner.loc[i]['Remarks']=='Dropped':
#         Score7=Score6+Dropped
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score7
#     else:
#         Score7=Score6
    
#     if Sess_Helper_Winner.loc[i]['Login_IP_Status']=='Matched':
#         Login_IP_List=Sess_Helper_Winner.loc[i]['Login_IP']
#         Login_IP_List=str(Login_IP_List)
#         list2=list(Login_IP_List.split(','))

#         if len(list2)>1:
#             Score8=Score7+Login_IP_Status_Cnt
#             Sess_Helper_Winner.at[i,'Risk_Score']=Score8
#         else:
#             Score8=Score7+Login_IP_Status
#             Sess_Helper_Winner.at[i,'Risk_Score']=Score8
            
#     else:
#         Score8=Score7
        
#     if Sess_Helper_Winner.loc[i]['city']=='Matched':
#         Score9=Score8+City
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score9
#     else:
#         Score9=Score8
        
        
#     if Sess_Helper_Winner.loc[i]['postal_code']=='Matched':
#         Score10=Score9+postal_code
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score10
#     else:
#         Score10=Score9
        
        
#     if Sess_Helper_Winner.loc[i]['device_fingerprint']=='Matched':
#         Score11=Score10+device_fingerprint
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score11
#     else:
#         Score11=Score10
    
#     if Sess_Helper_Winner.loc[i]['registration_ip']=='2 Matched':
#         Score12=Score11+registration_ip_Decimal_2
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score12
#     elif Sess_Helper_Winner.loc[i]['registration_ip']=='3 Matched':
#         Score12=Score11+registration_ip_Decimal_3
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score12
#     elif Sess_Helper_Winner.loc[i]['registration_ip']=='4 Matched':
#         Score12=Score11+registration_ip_Decimal_4
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score12
#     else:
#         Score12=Score11
        
#     if Sess_Helper_Winner.loc[i]['Referral_Status1']=='Matched' or Sess_Helper_Winner.loc[i]['Referral_Status2']=='Matched':
#         Score13=Score12+Refer_a_friends
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score13
#     else:
#         Score13=Score12
        
#     if Sess_Helper_Winner.loc[i]['Media_Source_Status']=='Matched':
#         Score14=Score13+Media_Source_Status
#         Sess_Helper_Winner.at[i,'Risk_Score']=Score14
#     else:
#         Score14=Score13
        
        
#-------------------------------------------------------------------------------------------        

    if Sess_Helper_Winner.loc[i]['Wrong_Show']==1 :
        Score1=Score+Wrong_Show
        Sess_Helper_Winner.at[i,'Risk_Score']=Score1
    else:
        Score1=Score
    
    if Sess_Helper_Winner.loc[i]['Table_Left']==1 :
        Score2=Score1+Table_Left
        Sess_Helper_Winner.at[i,'Risk_Score']=Score2
    else:
        Score2=Score1
        
    if Sess_Helper_Winner.loc[i]['Dropped']==1 :
        Score3=Score2+Dropped
        Sess_Helper_Winner.at[i,'Risk_Score']=Score3
    else:
        Score3=Score2
    
    if (Sess_Helper_Winner.loc[i]['Winner_KYC']=='MINI' or Sess_Helper_Winner.loc[i]['Helper_KYC']=='MINI'):
        Score4=Score3+Mini
        Sess_Helper_Winner.at[i,'Risk_Score']=Score4
    else:
        Score4=Score3
    
    if Sess_Helper_Winner.loc[i]['Remarks']=='Card Passing':
        Score5=Score4+Card_Passing
        Sess_Helper_Winner.at[i,'Risk_Score']=Score5
    else:
        Score5=Score4
    
    if Sess_Helper_Winner.loc[i]['Remarks']=='Dropped':
        Score6=Score5+Dropped
        Sess_Helper_Winner.at[i,'Risk_Score']=Score6
    else:
        Score6=Score5
        
    if Sess_Helper_Winner.loc[i]['Remarks']=='Wrong Show':
        Score7=Score6+Wrong_Show
        Sess_Helper_Winner.at[i,'Risk_Score']=Score7
    else:
        Score7=Score6
    
    if Sess_Helper_Winner.loc[i]['Remarks']=='Table_Left':
        Score8=Score7+Table_Left
        Sess_Helper_Winner.at[i,'Risk_Score']=Score8
    else:
        Score8=Score7
        
    
    if Sess_Helper_Winner.loc[i]['Login_IP_Status']=='Matched':
        Login_IP_List=Sess_Helper_Winner.loc[i]['Login_IP']
        Login_IP_List=str(Login_IP_List)
        list2=list(Login_IP_List.split(','))

        if len(list2)>1:
            Score9=Score8+Login_IP_Status
            Sess_Helper_Winner.at[i,'Risk_Score']=Score9
            Sess_Helper_Winner.at[i,'Login IP Count']=len(list2)
            
        else:
            Score9=Score8+Login_IP_Status_Cnt
            Sess_Helper_Winner.at[i,'Risk_Score']=Score9
            Sess_Helper_Winner.at[i,'Login IP Count']=len(list2)
        
        
    else:
        Score9=Score8
        
    if Sess_Helper_Winner.loc[i]['Media_Source_Name']=='Matched':
        Score10=Score9+Media_Source_Status
        Sess_Helper_Winner.at[i,'Risk_Score']=Score10
    else:
        Score10=Score9
        
        
    if Sess_Helper_Winner.loc[i]['Referral_Status1']=='Matched' or Sess_Helper_Winner.loc[i]['Referral_Status2']=='Matched':
        Score11=Score10+Refer_a_friends
        Sess_Helper_Winner.at[i,'Risk_Score']=Score11
    else:
        Score11=Score10
        
        
    if Sess_Helper_Winner.loc[i]['city']=='Matched' :
        Score12=Score11+City
        Sess_Helper_Winner.at[i,'Risk_Score']=Score12
    else:
        Score12=Score11
    
    
    if Sess_Helper_Winner.loc[i]['postal_code']=='Matched' :
        Score13=Score12+postal_code
        Sess_Helper_Winner.at[i,'Risk_Score']=Score13
    else:
        Score13=Score12
        
    if Sess_Helper_Winner.loc[i]['device_fingerprint']=='Matched' :
        Score14=Score13+device_fingerprint
        Sess_Helper_Winner.at[i,'Risk_Score']=Score14
    else:
        Score14=Score13
        
        
    if Sess_Helper_Winner.loc[i]['registration_ip']=='2 Matched':
        Score15=Score14+registration_ip_Decimal_2
        Sess_Helper_Winner.at[i,'Risk_Score']=Score15
    elif Sess_Helper_Winner.loc[i]['registration_ip']=='3 Matched':
        Score15=Score14+registration_ip_Decimal_3
        Sess_Helper_Winner.at[i,'Risk_Score']=Score15
    elif Sess_Helper_Winner.loc[i]['registration_ip']=='4 Matched':
        Score15=Score14+registration_ip_Decimal_4
        Sess_Helper_Winner.at[i,'Risk_Score']=Score15
    else:
        Score15=Score14
        
    if Sess_Helper_Winner.loc[i]['No_of_Players']==2:
        Score16=Score15+gm_2_plr
        Sess_Helper_Winner.at[i,'Risk_Score']=Score16
    else:
        Score16=Score15
    

 

    if Sess_Helper_Winner.loc[i]['Risk_Score']>100:
        Sess_Helper_Winner.at[i,'Risk_Score']=100
        
        
    if (Sess_Helper_Winner.loc[i]['Risk_Score']>=0 and Sess_Helper_Winner.loc[i]['Risk_Score']<=30):
        Sess_Helper_Winner.at[i,'Fraud_Status']='Low'
    elif (Sess_Helper_Winner.loc[i]['Risk_Score']>=31 and Sess_Helper_Winner.loc[i]['Risk_Score']<=60):
        Sess_Helper_Winner.at[i,'Fraud_Status']='Medium'
    elif (Sess_Helper_Winner.loc[i]['Risk_Score']>=61 and Sess_Helper_Winner.loc[i]['Risk_Score']<=100):
        Sess_Helper_Winner.at[i,'Fraud_Status']='High'
        

        
    
        
        

        

Sess_Helper_Winner=Sess_Helper_Winner.astype({'session_id':'int64','Winner':'int64','Winning':'object','Helper':'int64','Winner_User':'object','Helper_User':'object',
                                              'Wrong_Show':'object','Table_Left':'object','Dropped':'object','Withdrawal_Request':'float64','Winner_KYC':'object',
                                              'Helper_KYC':'object','Remarks':'object','Login_IP_Status':'object','Login_IP':'object','Media_Source_Name':'object',
                                              'Media_Source_Status':'object','Referral_Status1':'object','Referral_Status2':'object','Helper_domain':'int64','Winner_domain':'int64',
                                              'city':'object','postal_code':'object','device_fingerprint':'object','registration_ip':'object','game_type':'object',
                                              'Game_name':'object','No_of_Players':'int64','room_id':'int64','Winner_Email_ID':'object',
                                              'Winner_Mobile_ID':'object','Helper_Email_ID':'object','Helper_Mobile_ID':'object','Risk_Score':'int64','Fraud_Status':'object'})

In [72]:
Sess_Helper_Winner[Sess_Helper_Winner['session_id']==114674611]['Risk_Score']

36    100
Name: Risk_Score, dtype: int64

In [71]:

Sess_Helper_Winner.to_excel('C:/Users/Sanjay Prajapati/Desktop/Scoring Result.xlsx',index=False)

In [200]:
import pandas as pd
import sqlalchemy
from sqlalchemy.engine import URL
from sqlalchemy import Table, Column, Integer, String, MetaData, BigInteger, Float, DateTime



driver='{ODBC Driver 17 for SQL Server}'
server='DESKTOP-0UG3I5P'
database='test'
trusted_connection='yes'

# pyodbc connection string
connection_string = f'DRIVER={driver};SERVER={server};'
connection_string += f'DATABASE={database};'
connection_string += f'TRUSTED_CONNECTION={trusted_connection}'

# create sqlalchemy engine connection URL
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

""" more code not shown that uses pyodbc without sqlalchemy """
engine = sqlalchemy.create_engine(connection_url)


meta = MetaData()


Sess_df = Table(
   'Sess_Helper_Winner', meta, 
   Column('session_id', BigInteger), 
   Column('Winner', BigInteger), 
   Column('Winning', Float), 
    Column('Helper', BigInteger), 
    Column('Winner_User', String), 
    Column('Helper_User', String), 
    Column('Wrong_Show', Float), 
    Column('Table_Left', Float), 
    Column('Dropped', Float), 
    Column('Withdrawal_Request', Float), 
    Column('Winner_KYC', String), 
    Column('Helper_KYC', String), 
    Column('Remarks', String), 
    Column('Login_IP_Status', String), 
    Column('Login_IP', String), 
    Column('Helper_domain', BigInteger), 
    Column('Winner_domain', BigInteger), 
    Column('city', String),
    Column('postal_code', String), 
    Column('device_fingerprint', String), 
    Column('registration_ip', String), 
    Column('game_type', String), 
    Column('Game_name', String), 
    Column('No_of_Players', BigInteger), 
    Column('sess_start_time', DateTime), 
    Column('sess_end_time', DateTime), 
    Column('room_id', BigInteger),
    Column('Winner_Email_ID', String), 
    Column('Winner_Mobile_ID', String), 
    Column('Helper_Email_ID', String), 
    Column('Helper_Mobile_ID', String),
    Column('Risk_Score', String), 
    Column('Fraud_Status', String),
    
)
meta.create_all(engine)

print(meta.create_all(engine))


# sql_query=('select * from airport')
# conn=engine.connect()
# result = conn.execute(sql_query)


Sess_Helper_Winner.to_sql('Sess_Helper_Winner', engine, if_exists="append", index=False)


#conn.close()



#Sess_Helper_Winner

None

-1

In [167]:
#Sess_Helper_Winner.dtypes
# Sess_Helper_Winner=Sess_Helper_Winner.astype({'city':'object','postal_code':'object','device_fingerprint':'object','Winner_Email_ID':'object',
#                                               'Winner_Mobile_ID':'object','Helper_Email_ID':'object','Helper_Mobile_ID':'object'})
Sess_Helper_Winner.dtypes
                      
                      
# import pyodbc 

# conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
#                       'Server=DESKTOP-0UG3I5P;'
#                       'Database=test;'
#                       'Trusted_Connection=yes;')

# cursor = conn.cursor()
# cursor.execute('SELECT * FROM airport')

# for i in cursor:
#     print(i)

session_id                     int64
Winner                         int64
Winning                      float64
Helper                         int64
Winner_User                   object
Helper_User                   object
Wrong_Show                   float64
Table_Left                   float64
Dropped                      float64
Withdrawal_Request           float64
Winner_KYC                    object
Helper_KYC                    object
Remarks                       object
Login_IP_Status               object
Login_IP                      object
Helper_domain                  int64
Winner_domain                  int64
city                          object
postal_code                   object
device_fingerprint            object
registration_ip               object
game_type                     object
Game_name                     object
No_of_Players                  int64
sess_start_time       datetime64[ns]
sess_end_time         datetime64[ns]
room_id                        int64
Winner_Email_ID               object
Winner_Mobile_ID              object
Helper_Email_ID               object
Helper_Mobile_ID              object
Risk_Score                     int64
Fraud_Status                  object
dtype: object

In [3]:
cd ..\..

E:\Data Science with Python

In [9]:
cd "Data Science with Python"

E:\Data Science with Python

In [4]:
!python hello_world.py

   column1  column2
0        1        6
1        2        7
2        3        8
3        4        9
4        5        0

In [31]:
ls

 Volume in drive E has no label.
 Volume Serial Number is 2C07-635D

 Directory of E:\Data Science with Python

19-Oct-22  09:05 PM    <DIR>          .
19-Oct-22  09:05 PM    <DIR>          ..
08-Jun-22  07:02 PM    <DIR>          .ipynb_checkpoints
19-Oct-22  09:05 PM    <DIR>          __pycache__
05-Feb-22  10:19 PM    <DIR>          Churn Prediction
03-Sep-22  02:05 PM    <DIR>          Fraud alert
19-Oct-22  09:12 PM               158 hello_world.py
11-Jun-22  08:48 PM    <DIR>          Learn
21-May-22  03:57 PM        15,984,842 pandas.pdf
23-Apr-22  06:51 PM    <DIR>          Predictin Next Purchase day
12-May-22  07:31 PM    <DIR>          python
08-Oct-22  03:46 PM    <DIR>          Sanjay
11-Jun-22  08:48 PM    <DIR>          Stock
22-Jan-22  06:49 PM    <DIR>          Test1
               2 File(s)     15,985,000 bytes
              12 Dir(s)  37,526,061,056 bytes free

In [6]:
import hello_world
import pandas as pd

a=1
b=2
#print(hello_world.dic1)

df=pd.DataFrame(hello_world.dic1)

#df


for i in range(len(df)):
    for j in range(len(df)):
        print(df.loc[i]["column1"],df.loc[j]["column2"])

1 6
1 7
1 8
1 9
1 0
2 6
2 7
2 8
2 9
2 0
3 6
3 7
3 8
3 9
3 0
4 6
4 7
4 8
4 9
4 0
5 6
5 7
5 8
5 9
5 0

In [27]:
passs="hell world"