In [134]:
import pandas as pd
import numpy as np
#data=pd.read_csv(r"D:\Data Science with Python\Learn\nba.csv", index_col ="Name)
data=pd.read_csv(r"D:\Data Science with Python\Learn\nba.csv", index_col ='Name')  
df1=pd.DataFrame(data)
print(df1.head())                 
#print(df1.loc['Avery Bradley',['Name','Team']])
#print(df1.loc[['Avery Bradley','Jae Crowder'],['Number','Salary']])
#df2=pd.DataFrame(df1.loc[['Avery Bradley','Jae Crowder'],['Number','Salary']])

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0

In [135]:
#print(df1.iloc[:3,:5])
df1_iloc=df1.iloc[:3,:5]
print(df1_iloc)

                         Team  Number Position   Age Height
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6
John Holland   Boston Celtics    30.0       SG  27.0    6-5

In [148]:
# print Columns name
for i in loop_test1:
    print(i)
print(loop_test1)

Weight
Salary
               Weight     Salary
Name
Avery Bradley   180.0  7730337.0
Jae Crowder     235.0  6796117.0
John Holland    205.0        0.0
R.J. Hunter     185.0  1148640.0
Jonas Jerebko   231.0  5000000.0
...               ...        ...
Shelvin Mack    203.0  2433333.0
Raul Neto       179.0   900000.0
Tibor Pleiss    256.0  2900000.0
Jeff Withey     231.0   947276.0
NaN               NaN        0.0

[458 rows x 2 columns]

In [149]:
# print Columns name
#loop_test1['Salary2']=''
for i,j,k in loop_test1:
    print(i)

IndentationError: expected an indented block (Temp/ipykernel_8092/1431572418.py, line 5)

In [132]:
print(loop_test1)

               Weight     Salary
Name
Avery Bradley   180.0  7730337.0
Jae Crowder     235.0  6796117.0
John Holland    205.0        0.0
R.J. Hunter     185.0  1148640.0
Jonas Jerebko   231.0  5000000.0
...               ...        ...
Shelvin Mack    203.0  2433333.0
Raul Neto       179.0   900000.0
Tibor Pleiss    256.0  2900000.0
Jeff Withey     231.0   947276.0
NaN               NaN        0.0

[458 rows x 2 columns]

In [20]:
import pandas as pd

df_demo=pd.DataFrame({'player_id':[1,2,3,4],
     'Recency':[20,50,40,50],
     'Gender':['M','M','F','F'],index=['player_id', 'Product B']})
print(df_demo)

SyntaxError: invalid syntax (Temp/ipykernel_2276/443616818.py, line 5)